# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.DS_Store
.vscode/
.ipynb_checkpoints/
docker/*
*.pickle
results/
tmp/
*-checkpoint.py
wandb/
outputs/
models/


!jaxmarl/environments/mabrax/randomization.ipynb
!jaxmarl/environments/mabrax/vel_reward.ipynb

*.png
*.asdf
*.mp4
*.tflite

# Allow website assets in static/
!static/images/**/*.png
!static/images/**/*.jpg
!static/images/**/*.jpeg
!static/images/**/*.gif
!static/images/**/*.webp
!static/images/**/*.ico

# Ignore source image folders
/images/
jit_*